.app-content {
  display: flex;
  flex-direction: column;
  height: 100dvh;
}

nav {
  height: 5rem;
  flex-shrink: 0;
  background-color: var(--secondary-color);
}

nav ul {
  height: 100%;
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  align-items: center;
}

a {
  text-decoration: none;
  font-size: 1.5rem;
}

.outlet {
  background-image: url('../assets/home-background.jpg');
  background-size: cover;
  flex-grow: 1;
}

.home {
  padding-left: 2rem;
  padding-top: 3rem;
  width: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

h1 {
  font-weight: 700;
  font-size: 5rem;
}

.home-button {
  height: 4rem;
  width: 8rem;
  font-size: 2rem;
  border-radius: 1rem;
  border-color: var(--dark-primary-color);
  background: var(--secondary-color);
  cursor: pointer;
}
